SPRING_DATA_MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.iopug3h.mongodb.net/smart?retryWrites=true&w=majority
PORT=5000
JWT_SECRET=your_super_secret_jwt_key_that_is_long_enough_for_hmac_sha256
MQTT_URL=mqtt://<broker_url>:1883
MQTT_USER=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password
